@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* DASHBOARD PADDING */
div.block-container.css-z5fcl4.egzxvld4 {
    width: 100%;
    min-width: auto;
    max-width: initial;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 15px;
    padding-bottom: 40px;
}

/* GLOBAL FONT CHANGE */
html, body, [class*="css"] {
    font-family: 'Space Grotesk'; 
}

.st-ae {
    font-family: 'Space Grotesk';
}

/* CONTAINER CSS */
[data-testid="stVerticalBlock"] > [style*="flex-direction: column;"] > [data-testid="stVerticalBlock"] {
    border: 2px groove #0D0D0D;
    border-radius: 10px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: -6px 8px 20px 1px #000000;
}

/* CUSTOM MARKDOWN CLASSES */
.dashboard_title {
    font-size: 20px; 
    font-family: 'Space Grotesk';
    font-weight: 700;
    line-height: 1;
    text-align: left;
    padding-bottom: 35px;
}

.price_details {
    font-size: 24px; 
    font-family: 'Space Grotesk';
    color: #010101 ;
    font-weight: 900;
    text-align: left;
    line-height: 1;
    padding-bottom: 10px;
}

.kpi1_text {
    font-size: 15px; 
    font-family: 'Space Grotesk';
    color: #0a409e;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    padding-top: 10px;
}

.kpi2_text {
    font-size: 15px; 
    font-family: 'Space Grotesk';
    color: #15870d;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    padding-top: 10px;
}

.kpi3_text {
    font-size: 15px; 
    font-family: 'Space Grotesk';
    color: #63c3ca;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    padding-top: 10px;
}

.kpi4_text {
    font-size: 15px; 
    font-family: 'Space Grotesk';
    color: #807af4;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    padding-top: 10px;
}

.kpi5_text {
    font-size: 15px; 
    font-family: 'Space Grotesk';
    color: #01acf1;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    padding-top: 10px;
}